html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
}

.nav-pills li.active a,
.nav-pills li a:hover,
.section .btn:hover {
  background-color:rgba(216,25,47,1);
  box-shadow:0 2px 4px rgba(0,0,0,.5); 
  color:#fff;
}


.btn btn-default btn-lg {
  color: rgba(216,25,47,.5);
  padding-top: 35px;
  
  
}
.active {
  background-color: rgba(216,25,47,1);
  box-shadow:0 2px 4px rgba(0,0,0,.5); 
  color: white;
}

.btn .active {
 margin-top: 10px
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.col-md-4 h4 {
  text-align: center;
  color: rgba(216,25,47,1);
  font-family: Arvo;
  font-size: 28px;
}

.col-md-4 ul{
  list-style: none;
}

.col-md-4 ul li {
  font-size: 17px;
}

.section .container .page-header h3 {
  text-align: center;
  font-weight: 200;
  padding-top: 40px;
  font-size: 28px;
}

.page-header .row .col-md-4 {
  padding-top:35px;
}

/* Header */

.header {
  padding: 60px 0 60px 0;
}


.nav .btn {
  color: #000000;
}


/* Jumbotron */
.jumbotron {
  height: 500px;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg) no-repeat center center;
  background-size: 100%;
}

.jumbotron h2 {
  color: white;
  font-size: 48px;
}

#h2 {
  margin-left: 15px;
}

#h3 {
  margin-left: 36px;
}

/* Banner */
.banner, .supporting {
  text-align: center;
  padding-top: 40px;
}

.banner {
  background-color:#36343f;
  height:180px; 
  color: #fff;
}

/* Media Queries */
@media (max-width: 680px) {
  .header h1 {
    margin-bottom: 15px;
    text-align: center;
  }
  .nav {
    float: none;
    margin: 0 auto;
  }
  .banner {
    height: 220px;
  }

  .nav-pills li:first-child a  {
    margin-left: 0;
  }
}

/*Footer*/

.footer {
  background-color: #eeeeee;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

#flink {
  color: rgba(216,25,47,1);
}

#flink:hover {
  color: rgba(216,25,47,1);
  
}

.footer .container .row {
  margin-left: 5px;
}

.section {
  padding-bottom: 50px;
}